<div class="container">
    <div class="top-bar">
      <h1>New Employee</h1>
      <button routerLink='/home'><i class="bi bi-arrow-left-circle-fill icon"></i> Back</button>
    </div>
    <div class="bottom">
      
      <form [formGroup]="addForm">
        <table>
          <tr>
            <td class="col-2"><input type="text" id="fullname" formControlName="fullname"/><span>*</span><br /></td>
          </tr>
          <tr>
            <td class="col-2"><input type="text" id="job_title" formControlName="jobtitle"/><span>*</span><br /></td>
          </tr>
          <tr>
            <td class="col-2"><input type="email" id="email" formControlName="email"/><span>*</span><br /></td>
          </tr>
          <tr>
            <td class="col-2">
              <textarea id="phonenumber" cols="10" rows="2" formControlName="phonenumber"></textarea><span>*</span><br />
            </td>
          </tr>
          <tr>
            <td class="col-2"><input type="text" id="department" formControlName="department"/><span>*</span><br /></td>
          </tr>
          <tr>
            <td class="col-2">
              <button type="submit" class="btn" (click)="AddEmployee()">Submit</button>
            </td>
          </tr>
        </table>
      </form>
   
    </div>
  </div>
