
   

    <div class="card w-96 bg-blue-100 shadow-xl p-5 mx-auto">
      <h1 class="text-center p-6 font-bold text-4xl">View Employee</h1>

      <div class="avatar">
        <div class="w-36 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2 mx-auto">
          <img src="../assets/dark_magician.jpeg" />
        </div>
      </div>

      <div class="card-body">

        <h2 class="card-title mx-auto">
          Fhatuwani Raphalalani
          <div class="badge badge-secondary">NEW</div>
        </h2>
        <div class="text-center">
          <label class="badge badge-outline">Job Title:</label><h3>Frontend Software Developer</h3>
        </div>
        <div class="text-center">
          <label class="badge badge-outline">Email:</label><h3>fm.raphalalani29@gmail.com</h3>
        </div>
        <div class="text-center">
          <label class="badge badge-outline">Phone Number:</label><h3>0606909813</h3>
        </div>
        <div class="text-center">
          <label class="badge badge-outline">Department:</label><h3>Information Technology</h3>
        </div>
       
      </div>
      
      <button class="btn btn-outline btn-secondary w-54 " routerLink='/dash'>Back</button>
  
    </div>

   


  
