<div class="navbar bg-blue-400">
    <div class="flex-1">
      <a class="btn btn-ghost text-white normal-case text-xl">HR-APP</a>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end">
        <Label tabindex="0" for="my-modal-6">
          <button class="btn btn-outline bg-purple-900" [routerLink]="['/add']">Add New</button>
        </Label>

      </div>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="https://placeimg.com/80/80/people" />
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Settings</a></li>
          <li><a>Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
