<link href="https://cdn.jsdelivr.net/npm/daisyui@2.43.2/dist/full.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />

<div class="w-full">
  <div class="flex flex-shrink-0 md:w-auto justify-between p-4">

    <form class=" flex flex-shrink-0 md:w-auto flex-row search-hero" role="search">
      <!-- <input class="w-auto input input-bordered input-xs" type="text" name="search" placeholder="Search employees by name" autocomplete="off"
        [(ngModel)]="searchText" size="50" class="rounded-lg p-4"> -->
        <input type="text" name="search" placeholder="Search" [(ngModel)]="searchText" autocomplete="off" class="input input-bordered w-full max-w-xs" />
    </form>
    <div class="dropdown dropdown-end">
      <Label >
        <button class="btn btn-outline bg-purple-900" [routerLink]="['/add']">Add New</button>
      </Label>

    </div>
  </div>

  <div class="card mx-auto flex flex-col flex-shrink-0 justify-center w-full max-w-sm shadow-2xl bg-base-100 p-4 bg-purple-100 m-4"  *ngFor="let employee of employees | Search:searchText | paginate: { itemsPerPage: 4, currentPage: p }; let i = index">
    <div class="card-body md:w-auto">
      
      <div class="align-baseline flex justify-between">
        <div class="avatar">
          <div class="mask mask-squircle w-12 h-12">
            <img src={{employee.profilePic}} *ngIf="employee.profilePic; else elseBlock" alt="Avatar Tailwind CSS Component" />
          </div>
          <ng-template #elseBlock>
            <div class=" text-center w-12 h-12 flex justify-center align-center badge badge-outline" [ngStyle]="{'background-color': circleColor[i]}"> <span class="relative"> {{
              employee.fullname[0].toUpperCase() }} </span></div>
          </ng-template>
        </div>
        <span class="text-xl text-white-500">{{ employee.fullname }}</span>
      </div>

      <div class="flex justify-between">
        <span class="label-text text-xl text-black">Job Title:</span>
        <span class="text-xl text-white-500">{{ employee.jobtitle }}</span>
      </div>

      <div class="flex justify-between">
        <span class="label-text text-xl text-black">Email:</span>
        <span class="text-xl text-white-500">{{ employee.email }}</span>
      </div>

      <div class="flex justify-between">
        <span class="label-text text-xl text-black">Phone Number: </span>
       <span class="text-xl text-white-500">0{{ employee.phonenumber }}</span>
      </div>

      <div class="flex justify-between">
          <span class="label-text text-xl text-black">Department:</span>
          <span class="text-xl text-white-500">{{ employee.department }}</span>
      </div>

        <div class="mt-6 flex justify-around">
          <span class="badge badge-outline p-4 btn-primary" (click)="viewCard(employee._id)"><i class="bi bi-eye-fill"></i></span>
          <span class="badge badge-outline p-4 btn-accent" (click)=edit(employee) ><i class="bi bi-pencil-square"></i></span>
          <span class="badge badge-outline p-4 btn-secondary" (click)="delete(employee._id)"><i class="bi bi-trash3-fill"></i></span>
      </div>
    </div>
    
  </div>

  <div class="flex juustify-center bg-blue-400">
    <pagination-controls (pageChange)="p = $event" class="mx-auto rounded align-center pt-4 badge-outline "></pagination-controls>
  </div>


  
