<div class="card mx-auto flex-shrink-0 justify-center w-full max-w-sm shadow-2xl bg-base-100">
  <h1 class="text-center p-6 font-bold text-2xl">Update Employee</h1>

  <div class="avatar">
    <div class="mask mask-squircle w-12 h-12 mx-auto">
      <img src={{userUpdate.profilepic}} *ngIf="userUpdate.profilePic; else elseBlock" alt="Avatar Tailwind CSS Component" />
    </div>
    <ng-template #elseBlock>
      <div class=" text-center w-12 h-12 flex justify-center align-center badge badge-outline" [ngStyle]="{'background-color': divColor}"> <span class="relative"> {{
        userUpdate.fullname[0].toUpperCase() }}{{ userUpdate.fullname.split(" ")[1][0].toUpperCase() }} </span></div>
    </ng-template>

  </div>

  <div class="card-body">
    <div class="form-control">
      <label class="label">
        <span class="label-text text-center badge badge-outline">Full Name</span>
      </label>
      <input type="text" name="fullname" placeholder="email" class="input input-bordered" [(ngModel)]="userUpdate.fullname" id="fullname"/>
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text text-center badge badge-outline">Job Title</span>
      </label>
      <input type="text" name="jobtitle" placeholder="email" class="input input-bordered" [(ngModel)]="userUpdate.jobtitle" id="jobtitle"/>
    </div>

    <div class="form-control">
      <label class="label text-center">
        <span class="label-text badge badge-outline">Email</span>
      </label>
      <input type="text" name="email" [(ngModel)]="userUpdate.email" placeholder="email" class="input input-bordered" id="email"/>
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text badge badge-outline">Phone Number</span>
      </label>
      <input type="text" name="phonenumber" [(ngModel)]="userUpdate.phonenumber" placeholder="password" class="input input-bordered" id="phonenumber"/>
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text badge badge-outline">Department</span>
      </label>
      <input type="text" name="phonenumber" [(ngModel)]="userUpdate.phonenumber" placeholder="password" class="input input-bordered" id="phonenumber"/>
    </div>

    <div class="form-control flex justify-between flex-row mt-6">
      <button class="btn btn-active btn-accent w-20" routerLink='/dash' (click)="clear()">Back</button>
      <button class="btn btn-primary w-fit p-4" routerLink='/dash' (click)="updateEmployee()">Update Details</button>
    </div>
  </div>
</div>

