<div class="container overflow-x- scroll">
    <div class="top-bar">
      <h1>Update Employee</h1>
      <button routerLink='/dash'><i class="bi bi-arrow-left-circle-fill icon"></i> Back</button>
    </div>
    <div class="bottom">
      <!-- <form [formGroup]="editForm"> -->
        <table>

          <tr>
            <td>
              <label for="firstname">Full Name:</label>
            </td>
            <td class="col-2"><input type="text" name="fullname" class="inputBox"  [(ngModel)]="userUpdate.fullname" id="fullname"/><br /></td>
          </tr>

          <tr>
            <td>
              <label for="firstname">Profile Picture URL:</label>
            </td>
            <td class="col-2"><input type="text" name="profilepic" class="inputBox"  [(ngModel)]="userUpdate.profilepic" id="profilepic"/><br /></td>
          </tr>

          <tr>
            <td>
              <label for="lastname">Job Title:</label>
            </td>
            <td class="col-2"><input type="text" name="jobtitle" [(ngModel)]="userUpdate.jobtitle" class="inputBox" id="jobtitle"/><br /></td>
          </tr>

          <tr>
            <td>
              <label for="email">Email:</label>
            </td>
            <td class="col-2"><input type="email" name="email" [(ngModel)]="userUpdate.email" class="inputBox" id="email"/><br /></td>
            <!-- <td>{{userUpdate.email}}</td> -->
          </tr>

          <tr>
            <td>
              <label for="address">Phone Number:</label>
            </td>
            <td class="col-2">
              <td class="col-2"><input type="text" name="phonenumber" [(ngModel)]="userUpdate.phonenumber" class="inputBox" id="phonenumber"/><br /></td>
          </tr>

          <tr>
            <td>
              <label for="phone">Department:</label>
            </td>
            <td class="col-2"><input  name="department" [(ngModel)]="userUpdate.department"type="text" class="inputBox" id="department"/><br /></td>
          </tr>

          <tr>
            <td class="col-2 ml-auto">
              <button type="submit" class="btn" (click)="updateEmployee()">Submit</button>
            </td>
          </tr>

        </table>
      <!-- </form> -->
    </div>
  </div>
